@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular");
}

body {
  width: 350px;
  color: #0c0c0d;
}

header {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

header button {
}

header h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  flex-grow: 1;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22px;
}

p, ul li {
  font-size: 13px;
  font-weight: 400;
}
